.contribution-grid-0 {
    fill: #d4d4d4;
}

.contribution-grid-1 {
    fill: #a2e8ab;
}

.contribution-grid-2 {
    fill: #53c26a;
}

.contribution-grid-3 {
    fill: #419f54;
}

.contribution-grid-4 {
    fill: #2c6d3c;
}