
.grid-image {
    width: 300px;
    height: 300px;
    max-width: 100%;
    object-fit: contain;
    transition: opacity .02s linear;
}

.grid-image-fetching {
    opacity: 50%;
    transition: opacity .02s linear;
    cursor: default;
}

.grid-image-disabled {
    opacity: 80%;
}