.grid-image {
    width: 300px;
    height: 300px;
    max-width: 100%;
    object-fit: contain;
    transition: opacity .2s linear;
}

.copy-button {
    transition: opacity linear .1s;
    opacity: 0;
}

.grid-image-container:hover > .copy-button {
    transition: opacity linear .1s;
    opacity: 1;
}

.grid-image-fetching {
    opacity: 50%;
    transition: opacity .02s linear;
    cursor: default;
}

.grid-image-disabled {
    opacity: 80%;
}

.progress {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: rotate(-90deg) translate(50%, -50%) !important;
}

.copiable {
    font-family: 'Consolas';
    cursor: pointer;
    user-select: none;
    max-width: 100%;
}